@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";
@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap")
    format("truetype");
  /* Add additional font weights and styles if needed */
}

body {
  font-family: "Montserrat", sans-serif;
}
